{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user  %}
        <div><a href="{{ logout_path('main') }}" class="btn btn-primary pull-right">Logout</a></div>
    {% endif %}

    {% include "flash-messages.html.twig" %}

    <h1>Contact Form</h1>

    <div>
        {{ form(ourForm) }}
    </div>
    
{% endblock %}
