{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">        
        <h1>Hello World</h1>
        <div>
            {{ form(ourForm) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
